# Data handling & Arrays
pandas
numpy

# Natural Language Processing & Text Processing
gensim
nltk
spacy

# Data Visualization
pyLDAvis
nbformat
ipython 

# BERTopic
bertopic
bertopic[visualization]

# Writing excel file
openpyxl